<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- Configuración de la conexión a la base de datos -->
        <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:xe</property>
        <property name="hibernate.connection.username">SYSTEM</property>
        <property name="hibernate.connection.password">1234</property>

        <!-- Configuración del dialecto de la base de datos -->
        <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>

        <!-- Muestra las consultas SQL en la salida estándar -->
        <property name="show_sql">true</property>

        <!-- Mapeo de entidades -->
        <mapping class="com.tuempresa.modelo.Empresa"/>
    </session-factory>
</hibernate-configuration>
